services:
  - type: static
    name: rpee-yucatan
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: GEMINI_API_KEY
        sync: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

